.main {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 27px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2e374a;
}
.input_field {
  display: flex;
  gap: 10px;
}

.submit {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.check{
    width: 6%;
}
