.footer{
    background-color:#2e2b2b;
    width: 100%;
    height: auto;
  }
  .sub_footer{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin-left: 10%;
    padding-top:20px;
  }
  .para{
    margin-top: 15px;
    color: #fff;
    text-align: justify;
  }
  .list{
    margin-top: 10px;
    list-style: none;
    color: #fff;
    cursor: pointer;
  }
  .input_box{
    margin-top: 10px;
    border-radius: 5px;
    height: 22px;
  }
  .heading{
    color:#fff;
    font-weight: 500;
    padding-bottom: 15px;
  }
  span{
    color:#fff;
    font-weight: 500;
  }
  h2{
    color: #fff;
   margin-bottom: 0px;
   margin-block-start: 1em;
   line-height: 7px;
  }
  .Subscribe{
    cursor: pointer;
    color: red;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .Subscribe:hover{
    color: rgb(38, 76, 203);
  }
  @media screen and (max-width:768px)and (min-width:455px) {
    .sub_footer{
      display: grid;
      grid-template-columns: 50% 50%;
    }
  
  }
  @media screen and (max-width:454px) and (min-width:300px){
    .sub_footer{
      display: grid;
      grid-template-columns:100%;
    }
  ul{
    padding-inline-start: 0px;
  }
  
  }
  